 @import url(https://fonts.googleapis.com/css?family=Red+Hat+Display);
 @import url(https://fonts.googleapis.com/css?family=Be+Vietnam);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Be Vietnam', sans-serif;
}

.navbar{
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
   font-size: 270%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 3px 3px #4681c0;
}


#title {
  background-image: url("assets/colorado-mountains.jpg");
  z-index:2;
}

#title h1 {
 transform: translateZ(.4px) scale(.75);
 transform-origin: 50% 100%;
 font-weight: 700;
 font-family: 'Red Hat Display', sans-serif;
}

#title #typist{
  transform: translateZ(.25px) scale(.75);
  transform-origin: 50% 100%;
  color: aliceblue;
  font-size: 100%;
 }

 #title hr {
  transform: translateZ(.3px) scale(.75);
  transform-origin: 50% 100%;
  border-color: white;
  width: 50%;
  font-size: 100%;
 }

 #title i {
  transform: translateZ(.2px) scale(.8);
  transform-origin: 50% 100%;
  text-shadow: none;
 }

 #slide1 { 
padding-top: 2rem;
padding-bottom: 6rem;
 }

#slide1 #slide1-image1{
  height: 100%;
  width: 100%;
  border-radius: 1px;
  box-shadow: none;
}

#slide1 h5{
  color: #003366;
  text-align: center;
  font-weight: 600;
}

#slide1 h3{
  color: #001325;
  text-align: center;
  font-weight: 300;
  font-family: 'Be Vietnam', sans-serif;
}

#slide1 h1{
  color: #19314b;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

#slide1 p{
  font-size: 18px;
  text-align: center;
}

#slide1 #card1:hover .fas {
  color: #4681c0;
}

#slide1 p b{
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #4681c0;
}

#slide1 i{
  text-shadow: 0 3px 3px rgb(43, 56, 66);
}

#benefits{
  text-align: center;
}

#slide1 #benefits hr{
  width: 20%;
  height: 2px;
  background-color:  #4681c0;
  margin-top: 0;
  margin-bottom: 5px;
}

#slide2 {
  background-color: rgb(194, 194, 194);
  z-index:2;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#slide2 #slide2-title hr{
  width: 100%;
  background-color: #19314b;
  height: 0px;
}

#slide2 .Kolton hr{
  position: absolute;
  left: -15px;
width: 70%;
height: 2px;
background-color:  #4681c0;
margin-top: 0;
margin-bottom: 5px;
}

#slide2 .Steve hr{
  position: absolute;
  right: -15px;
  width: 70%;
  height: 2px;
  background-color:  #4681c0;
  margin-top: 0;
  margin-bottom: 5px;
  }

#slide2 h1{
  color: #19314b;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

#slide2 h2{
  color: #19314b;
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 900;
}
#slide2 h4{
  color: #19314b;
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
}

#slide2 p{
  color: #19314bbb;
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 18px;
}

#slide2 #Kolton{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#slide2 #Steve{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#slide4 {
  background: #222;
  min-height: 10vh;
  padding-top: 3rem;
  text-shadow: none;
  text-align: left;
  font-size: 19px;
  padding-bottom: 3rem;
}

#slide4 h1 {
  font-size: 175%;
  font-weight: 700;
}


#contact-button{
  font-family: 'Be Vietnam', sans-serif;
  display: block;
  width: 25%;
  background: #4681c0;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 1px 1px #4681c0;
}

#contact-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#contact-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#contact-button:hover span {
  padding-right: 25px;
}

#contact-button:hover span:after {
  opacity: 1;
  right: 0;
}

#slide4 hr{
  width: 20%;
  height: 2px;
  background-color:  #4681c0;
  margin-left: 0;
}